body {
    font-family: 'Press Start 2P', cursive;
    background: #c6c6c6;
    color: #1d1d1b;
    font-size:15px;
    padding-top:20px;
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin-top:0;
    margin-bottom:20px;
}

.value {
    display: inline-block;
    font-size:18px;
    padding-top:15px;
    margin-bottom:20px;
}

table.bucket {
    border: 1px solid #1d1d1b;
    border-spacing: 4px;
}

table.bucket td,
table.bucketNext td {
    border-radius: 1px;
    width:30px;
    height:30px;
    border: 1px solid #b2b2b2;
}

table.bucket td:after,
table.bucketNext td:after {
    content:"";
    position: absolute;
    display: block;
    background: #b2b2b2;
    width:20px;
    height:20px;
    left:50%;
    margin-left:-10px;
    top:50%;
    margin-top:-10px;
}

.block {
    background: none !important;
    border:1px solid #1d1d1b;
    top:-1px;
    left:-1px;
}

.block:after {
    content:"";
    position: absolute;
    display: block;
    background: #1d1d1b;
    width:20px;
    height:20px;
    left:50%;
    margin-left:-10px;
    top:50%;
    margin-top:-10px;
}

#legend, #bucketWrapperNext {
    width:350px;
    margin-top:0;
}

#time {
    margin-right:10px;
    margin-bottom:20px;
}

#time, #level {
    display: inline-block;
}

#bucketWrapperNext {
    display: block;
}

#legend, #bucketWrapperNext, #time, #level {
    text-transform: uppercase;
}

div.blink {
    opacity:0.5;
}