html {
    height: 100%;
    min-width: 960px;
    background: rgba(0,89,165,1); /* Old browsers */
}

body {
    font-size:14px;
    margin: 0 auto;
    text-align: center;
    min-height:100%;
    height: auto;
    width:100%;
    min-width: 1000px;
    background: #fff;
}

.clear {
    clear: both;
}

h1 {
    font-weight:normal;
}

p {
    margin:0;
    margin-bottom:15px;
}

#legend {
    padding-top:50px;
}

#legend, #bucketWrapperNext {
    vertical-align: top;
    display: inline-block;
    margin:70px 0;
    width:250px;
    text-align: left;
}

#bucketWrapper, #bucketWrapperNext {
    vertical-align: top;
    position: relative;
    display: inline-block;
    margin-right:30px;
}

.key {
    display: inline-block;
    border: 1px solid #000;
    border-radius: 4px;
    padding:5px;
    margin-bottom:5px;
}


table.bucket {
    border: 1px solid #555;
    margin-top:20px;
}
table.bucket td,
table.bucketNext td {
    width:28px;
    height:28px;
    border: 1px solid #DDDDDD;/**/
    background: none;
    position: relative;
}

/*
table.bucket td:after {
    content: "";
    display:block;
    position: absolute;
    width:4px;
    opacity: 0.3;
    height:4px;
    background: #fff;
    border-radius: 3px;
    left: 50%;
    margin-left:-2px;
    top: 50%;
    margin-top:-2px;
    z-index:1;
}
*/


.block {
    position: absolute;
    width:100%;
    height:100%;
    background: #000;
    top:0;
    left:-0;
    z-index:2;
}

table.bucketNext td {
    border:none;
    width:24px;
    height:24px;
    background: none;
}

#gameOver {
    display: none;
    position: absolute;
    z-index:10;
    top:40%;
    background: rgba(0,0,0,0.8);
    width:100%;
    font-size:20px;
    text-transform: uppercase;
    padding:20px 0;
    color: #fff;
    text-align: center;
}

#gameOver h5 {
    display: none;
    font-weight:normal;
}

tr.blink div {
    opacity: 0.3;
}

.btn {
    display: inline-block;
    border:1px solid #1d1d1b;
    text-align: center;
    padding:4px;
}

.btn span{
    color: #c6c6c6;
    font-size:9px;
    display: inline-block;
    border:1px solid;
    text-align: center;
    background: #1d1d1b;
    padding:4px 8px;
    min-width: 52px;
}

.btn {
    cursor: pointer;
}